{% extends "layout.html" %}

{% block content %}
<div id='find'>
    <h1>Kiss Kiss Bang Bang</h1>
    <h2>Skip the chatting, and get to smacking those cheeks! Which of your friends do you want to bang?</h2>
    <div class='divider'></div>
    <div id='filter'>
        <a class='' data-sex='male' href='#' id='filter_male'></a>
        <a class='active' data-sex='female' href='#' id='filter_female'></a>
    </div>
    <div id='friends'>
        {% for f in friends %}
            <div class='fuck male' style='display: inline-block'>
                <div class='info'>
                    <img src='{{ f.photo_big }}'>
                    {{ f.first_name }} {{ f.last_name }}
                </div>
                {% if f.fuck %}
                    <div class='action'>
                        <span>Awaiting Bang</span>
                    </div>
                {% else %}
                    <div class='action'>
                        <a class='new' href='/fuckit/{{ f.uid }}/'>
                            Down to Bang
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
