{% extends "layout.html" %}

{% block content %}
<div id='find'>
    <h1>Kiss Kiss Bang Bang</h1>
    <h2>Skip the chatting, and get to smacking those cheeks! Which of your friends do you want to bang?</h2>
    <div class='divider'></div>
    <div id='filter'>
        <a class='' data-sex='male' href='#' id='filter_male'></a>
        <a class='active' data-sex='female' href='#' id='filter_female'></a>
    </div>
    <div id='friends'>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/525471505/picture?type=large'>
                Alexander Zheglov
            </div>
            <div class='action'>
                <a class='new' data-id='525471505' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/764337699/picture?type=large'>
                Kirill A. Korinskiy
            </div>
            <div class='action'>
                <a class='new' data-id='764337699' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/790320269/picture?type=large'>
                Marina Eyramjyants
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1048982867/picture?type=large'>
                Артем Геллер
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/1148495389/picture?type=large'>
                Julie Sledneva
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1194445579/picture?type=large'>
                Иван Демидов
            </div>
            <div class='action'>
                <a class='new' data-id='1194445579' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1308948391/picture?type=large'>
                Kirill Grishin
            </div>
            <div class='action'>
                <a class='new' data-id='1308948391' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1344309016/picture?type=large'>
                Ульви Рашид
            </div>
            <div class='action'>
                <a class='new' data-id='1344309016' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1345083486/picture?type=large'>
                Михаил Богданов
            </div>
            <div class='action'>
                <a class='new' data-id='1345083486' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1413803069/picture?type=large'>
                Max Rogalsky
            </div>
            <div class='action'>
                <a class='new' data-id='1413803069' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/1479770718/picture?type=large'>
                Ксения Водянова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/1578063870/picture?type=large'>
                Prokhonova Nika
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1636397011/picture?type=large'>
                Igor  Martynov
            </div>
            <div class='action'>
                <a class='new' data-id='1636397011' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/1747592475/picture?type=large'>
                Максим Граник
            </div>
            <div class='action'>
                <a class='new' data-id='1747592475' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/1774134824/picture?type=large'>
                Злата Онуфриева
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000025288801/picture?type=large'>
                Bulygina Elena
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000257445956/picture?type=large'>
                Игорь Старков
            </div>
            <div class='action'>
                <a class='new' data-id='100000257445956' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000495835640/picture?type=large'>
                ELdar AKhmedov
            </div>
            <div class='action'>
                <a class='new' data-id='100000495835640' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000598247087/picture?type=large'>
                Vladimir Mildzikhov
            </div>
            <div class='action'>
                <a class='new' data-id='100000598247087' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000671383434/picture?type=large'>
                Stas Bonbin
            </div>
            <div class='action'>
                <a class='new' data-id='100000671383434' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000752042984/picture?type=large'>
                Катя Симакова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000988145839/picture?type=large'>
                Anatoly Zlatoust
            </div>
            <div class='action'>
                <a class='new' data-id='100000988145839' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100000989207425/picture?type=large'>
                Александр Пряхин
            </div>
            <div class='action'>
                <a class='new' data-id='100000989207425' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001040296048/picture?type=large'>
                Nikita Kuznetsov
            </div>
            <div class='action'>
                <a class='new' data-id='100001040296048' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001058378983/picture?type=large'>
                Катя Чернова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001062735819/picture?type=large'>
                Денис Слюсарев
            </div>
            <div class='action'>
                <a class='new' data-id='100001062735819' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001082087436/picture?type=large'>
                Ruslana Paraskevova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001092077904/picture?type=large'>
                Majorov Evgeny
            </div>
            <div class='action'>
                <a class='new' data-id='100001092077904' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001104644390/picture?type=large'>
                Ekaterina Kungurova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001235990654/picture?type=large'>
                Мечта Поэта
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001316365994/picture?type=large'>
                Катерина Откидач
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001379159022/picture?type=large'>
                Кузьма Корсаков
            </div>
            <div class='action'>
                <a class='new' data-id='100001379159022' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001475085811/picture?type=large'>
                Galia Bolohova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001509742487/picture?type=large'>
                Фарадей Ибнфахсун
            </div>
            <div class='action'>
                <a class='new' data-id='100001509742487' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001571544921/picture?type=large'>
                Harut Dagesian
            </div>
            <div class='action'>
                <a class='new' data-id='100001571544921' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001578335135/picture?type=large'>
                Светлана Пузанова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001578537227/picture?type=large'>
                Люба Мерекина
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001639655832/picture?type=large'>
                Juliua  Dudko-Melnik
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001687613122/picture?type=large'>
                Александра Меджидова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001704589173/picture?type=large'>
                Anton Melbard
            </div>
            <div class='action'>
                <a class='new' data-id='100001704589173' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001735269096/picture?type=large'>
                Ульяна Сутормина
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001751841771/picture?type=large'>
                Marina Ojegoff
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001776012212/picture?type=large'>
                Милена Фролова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001889992047/picture?type=large'>
                Екатерина Строчилина
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100001924791196/picture?type=large'>
                Елена Леонтьева
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002065624770/picture?type=large'>
                Павел Новиков
            </div>
            <div class='action'>
                <a class='new' data-id='100002065624770' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002302560631/picture?type=large'>
                Елена Рыбакова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002317407449/picture?type=large'>
                Sergey  Polinkin
            </div>
            <div class='action'>
                <a class='new' data-id='100002317407449' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002347460143/picture?type=large'>
                Ivan  Dudko
            </div>
            <div class='action'>
                <a class='new' data-id='100002347460143' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002384374057/picture?type=large'>
                Tamara  Gusova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002390812782/picture?type=large'>
                Алов Роман
            </div>
            <div class='action'>
                <a class='new' data-id='100002390812782' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002396396817/picture?type=large'>
                Yuriy Sidorin
            </div>
            <div class='action'>
                <a class='new' data-id='100002396396817' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002496695508/picture?type=large'>
                Светлана Ткаченко
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002537307938/picture?type=large'>
                Elena  Gudovich
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002588512358/picture?type=large'>
                Matvey  Kuznetsov
            </div>
            <div class='action'>
                <a class='new' data-id='100002588512358' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002954030605/picture?type=large'>
                Дмитрий Костин
            </div>
            <div class='action'>
                <a class='new' data-id='100002954030605' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100002988410647/picture?type=large'>
                Alehey  Shilov
            </div>
            <div class='action'>
                <a class='new' data-id='100002988410647' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100003086248805/picture?type=large'>
                Sasha  Sotnik
            </div>
            <div class='action'>
                <a class='new' data-id='100003086248805' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100003199105267/picture?type=large'>
                Матвей Суворов
            </div>
            <div class='action'>
                <a class='new' data-id='100003199105267' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100003231334982/picture?type=large'>
                Veronika  Podgornaya
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100003284678389/picture?type=large'>
                Irina  Podsypanikova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100003481595994/picture?type=large'>
                Vera  Petina
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100003960582947/picture?type=large'>
                Wickedz Threat
            </div>
            <div class='action'>
                <a class='new' data-id='100003960582947' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004096193187/picture?type=large'>
                Elena Kovalskaya
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004111424131/picture?type=large'>
                Tatyana  Sledneva
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004134750669/picture?type=large'>
                Роман Алов
            </div>
            <div class='action'>
                <a class='new' data-id='100004134750669' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004259739220/picture?type=large'>
                Stroganov  Pavel
            </div>
            <div class='action'>
                <a class='new' data-id='100004259739220' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004328013727/picture?type=large'>
                Elena  Elkina
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004341943413/picture?type=large'>
                Ирина Парастаева
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004370024114/picture?type=large'>
                Ольга Порядина
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004378094015/picture?type=large'>
                Екатерина Мальдон
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004385293256/picture?type=large'>
                Наталья Селина
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004416912453/picture?type=large'>
                Ольга Береза
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004417573109/picture?type=large'>
                Elizaveta  Serova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004441864328/picture?type=large'>
                Alexey  Veliky
            </div>
            <div class='action'>
                <a class='new' data-id='100004441864328' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004442701281/picture?type=large'>
                Олег Метельков
            </div>
            <div class='action'>
                <a class='new' data-id='100004442701281' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004452305788/picture?type=large'>
                Анна Макарова
            </div>
            <div class='action'>
                <a class='new' data-id='100004452305788' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004454647613/picture?type=large'>
                Alexey  Palitsyn
            </div>
            <div class='action'>
                <a class='new' data-id='100004454647613' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004459981598/picture?type=large'>
                Olga  Knyazeva
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004464034455/picture?type=large'>
                Анна Кириллова
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004470751639/picture?type=large'>
                Yulia  Polyaninova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004503604924/picture?type=large'>
                Михаил Прохоров
            </div>
            <div class='action'>
                <a class='new' data-id='100004503604924' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004625736362/picture?type=large'>
                Ilmir  Valiev
            </div>
            <div class='action'>
                <a class='new' data-id='100004625736362' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004640649657/picture?type=large'>
                Lyubov  Tihonova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004873022804/picture?type=large'>
                Oxana  Ryzhkova
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004882772786/picture?type=large'>
                Irina  Birichevskaya
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004887452773/picture?type=large'>
                Vyacheslav  Birichevsky
            </div>
            <div class='action'>
                <a class='new' data-id='100004887452773' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004904194512/picture?type=large'>
                Schastlivy  Mir
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100004942774741/picture?type=large'>
                Sergey  Slednev
            </div>
            <div class='action'>
                <a class='new' data-id='100004942774741' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='fuck male' style='display: none'>
            <div class='info'>
                <img src='https://graph.facebook.com/100005010909132/picture?type=large'>
                Sergey  Selivankin
            </div>
            <div class='action'>
                <a class='new' data-id='100005010909132' href='#fuckit'>
                    Down to Bang
                </a>
            </div>
        </div>
        <div class='female fuck show' style='display: inline-block'>
            <div class='info'>
                <img src='https://graph.facebook.com/100005012734495/picture?type=large'>
                Olga  Soboleva
            </div>
            <div class='action'>
                <a class='active'>
                    Awaiting Bang
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
